/* Bibliothèque de Pauline Viroux
 *
 * /sass/styles.scss - Main stylesheet
 *
 * coded by Pauline Viroux
 */

$mainColor: #AE6169;
$lightMainColor: #F0B46A;
//$darkMainColor: ;

//$focusColor: ;
//$darkFocusColor: ;

//$mainBackgroundColor: ;
//$headerBackgroundColor: ;


$headingTextColor: #F0B46A;
$laborTextColor: black;
//$menuTextColor: ;

$linkColor: #552F5C;
$hoverLinkColor: #AC3F5B;
