.aside{
    float: right;
    margin-right: 3.5rem;
    margin-top: 3rem;
    width: 15rem;
    line-height: 1.5rem;
    &__categories{

    }
    &__list{

    }
    &__item{
        font-size: 1.2rem;
    }
    &__books{

    }
    &__authors{

    }
}