<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bibli</title>
    <link rel="stylesheet" href="../css/styles.css" />
</head>
<body>
    <header class="header">
        <h1 class="header__title">My library</h1>
        <div class="menu">
            <ul class="menu__list">
                <li class="menu__item"><a href="../index.html">Home</a></li>
                <li class="menu__item"><a href="./indexBooks.html">Books</a></li>
                <li class="menu__item"><a href="./indexAuthors.html">Authors</a></li>
                <li class="menu__item"><a href="#">Editors</a></li>
                <li class="menu__item"><a href="./indexCategories.html">Categories</a></li>
            </ul>
        </div>
        <div class="search">
            <input class="search__input" type="text" placeholder="Harry Potter" name="search">
            <button class="search__button" type="submit"></button>  
        </div> 
        <div class="connect">
            <a class="connect__button" href="./login.html">Se connecter</a>
            <a class="connect__signin" href="./signin.html">S'inscrire</a>
        </div>      
    </header>
    <h1></h1>
    <div class="content">
        <aside class="aside">
            <section class="aside__categories">
                <h2 class="aside__title">Catégories</h2>
                <ul class="aside__list">
                    <li class="aside__item"><a href="view/showCategories.html">Category1</a></li>
                    <li class="aside__item"><a href="view/showCategories.html">Category2</a></li>
                    <li class="aside__item"><a href="view/showCategories.html">Category3</a></li>
                    <li class="aside__item"><a href="view/showCategories.html">Category4</a></li>
                    <li class="aside__item"><a href="view/showCategories.html">Category5</a></li>
                </ul>  
            </section>
            <section class="aside__books">
                <h2 class="aside__title">Books</h2>
                <ul class="aside__list">
                    <li class="aside__item"><a href="view/showBooks.html">Book1</a></li>
                    <li class="aside__item"><a href="view/showBooks.html">Book2</a></li>
                    <li class="aside__item"><a href="view/showBooks.html">Book3</a></li>
                    <li class="aside__item"><a href="view/showBooks.html">Book4</a></li>
                    <li class="aside__item"><a href="view/showBooks.html">Book5</a></li>
                </ul>
            </section>
            <section class="aside__authors">
                <h2 class="aside__title">Authors</h2>
                <ul class="aside__list">
                    <li class="aside__item"><a href="view/showAuthors.html">Author1</a></li>
                    <li class="aside__item"><a href="view/showAuthors.html">Author2</a></li>
                    <li class="aside__item"><a href="view/showAuthors.html">Author3</a></li>
                    <li class="aside__item"><a href="view/showAuthors.html">Author4</a></li>
                    <li class="aside__item"><a href="view/showAuthors.html">Author5</a></li>
                </ul>    
            </section>
        </aside>
        <div class="mainEditors">
            <section class="editors">
                <h2 class="editors__title">Editors</h2>
                <ul class="editors__list">
                    <li class="editors__item">
                        <a class="editors__editor" href="./showEditors.html">Editor Name</a>
                    </li>
                    <li class="editors__item">
                        <a class="editors__editor" href="./showEditors.html">Editor Name</a>
                    </li>
                    <li class="editors__item">
                        <a class="editors__editor" href="./showEditors.html">Editor Name</a>
                    </li>
                    <li class="editors__item">
                        <a class="editors__editor" href="./showEditors.html">Editor Name</a>
                    </li>
                    <li class="editors__item">
                        <a class="editors__editor" href="./showEditors.html">Editor Name</a>
                    </li>
                    <li class="editors__item">
                        <a class="editors__editor" href="./showEditors.html">Editor Name</a>
                    </li>
                    <li class="editors__item">
                        <a class="editors__editor" href="./showEditors.html">Editor Name</a>
                    </li>                    
                </ul>
            </section>
        </div>
    </div>
    <footer class="footer">
        <small>&copy; Design by Pauline viroux</small>
    </footer>
</body>
</html>